<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<alpha_commerce_hub>
				<currency>base</currency>
				<description>{order.items}</description>
				<description_rules>
					<locations>
						<merchant>
							<shown>1</shown>
							<title><![CDATA[How is a payment's description (`TxnDetails`) shown in the AlphaCommerceHub merchant interface?]]></title>
							<url>https://mage2.pro/c/extensions/alphacommercehub</url>
						</merchant>
						<payment>
							<shown>1</shown>
							<title><![CDATA[How is a payment's description (`TxnDetails`) shown on the AlphaCommerceHub payment page?]]></title>
							<url>https://mage2.pro/c/extensions/alphacommercehub</url>
						</payment>
					</locations>
					<maxLength>
						<title><![CDATA[[AlphaCommerceHub] The maximum length of a payment description (`TxnDetails`) is 2000 characters]]></title>
						<url>https://mage2.pro/t/4852</url>
						<value>2000</value>
					</maxLength>
				</description_rules>
<!--
2017-10-27
[AlphaCommerceHub] Are any limitations on the «MerchantTxnID» parameter allowed characters or length?
https://mage2.pro/t/4779
«Supported special characters are / and .»
2017-11-01
[AlphaCommerceHub] Which characters are considered «special» and «not special»
for the AlphaHPP's `MerchantTxnID` parameter? https://mage2.pro/t/4842
-->
				<identification>increment_id</identification>
				<identification_rules>
					<regex>
						<message><![CDATA[AlphaCommerceHub allows only the digits, the Latin letters, and the «<code>/</code>», «<code>.</code>, and «<code>-</code>» characters in the payment identifiers]]></message>
						<pattern><![CDATA[#^[a-z0-9./\-]+$#i]]></pattern>
					</regex>
					<max_length>60</max_length>
				</identification_rules>
<!-- 2017-12-09
1) "Why does the «API Integration Guide(Nov 2017)» recommend to send the API requests
to an unknown `hub.apcld.net` domain?": https://mage2.pro/t/5034
2) "Provide an ability to a Magento backend user to choose a different AlphaCommerceHub's API domain":
https://github.com/mage2pro/alphacommercehub/issues/66
-->
				<liveApiDomain>hubapi.alphacommercehub.com.au</liveApiDomain>
<!-- 2017-12-09
1) "Why does the «API Integration Guide(Nov 2017)» recommend to send the API requests
to an unknown `hub.apcld.net` domain?": https://mage2.pro/t/5034
2) "Provide an ability to a Magento backend user to choose a different AlphaHPP domain":
https://github.com/mage2pro/alphacommercehub/issues/80
-->
				<livePayPageDomain>hub.alphacommercehub.com.au</livePayPageDomain>
				<optionsAllowed>CC,PP,PO</optionsAllowed>
				<optionsDescription><![CDATA[On clicking the «<b>Place Order</b>» button you will be redirected to the AlphaCommerceHub payment page, and the following payment options will be available: {options}.]]></optionsDescription>
				<optionsDisplayMode>images</optionsDisplayMode>
				<optionsLocation>magento</optionsLocation>
				<optionsPrompt><![CDATA[Please select a payment option:]]></optionsPrompt>
				<requireBillingAddress>0</requireBillingAddress>
				<title>AlphaCommerceHub</title>
				<title_backend>AlphaCommerceHub</title_backend>
<!-- 2017-12-09
1) "Why does the «API Integration Guide(Nov 2017)» recommend to send the API requests
to an unknown `hub.apcld.net` domain?": https://mage2.pro/t/5034
2) "Provide an ability to a Magento backend user to choose a different AlphaHPP domain":
https://github.com/mage2pro/alphacommercehub/issues/80
-->
				<testApiDomain>hubapiuat.alphacommercehub.com.au</testApiDomain>
<!-- 2017-12-09
1) "Why does the «API Integration Guide(Nov 2017)» recommend to send the API requests
to an unknown `hub.apcld.net` domain?": https://mage2.pro/t/5034
2) "Provide an ability to a Magento backend user to choose a different AlphaHPP domain":
https://github.com/mage2pro/alphacommercehub/issues/80
-->
				<testPayPageDomain>hubuat.alphacommercehub.com.au</testPayPageDomain>
			</alpha_commerce_hub>
		</df_payment>
        <payment>
            <dfe_alpha_commerce_hub>
<!-- 2017-12-05
"The module is not shown in the «Mageplaza Extensions» → «One Step Checkout» →
«General Configuration» → «Default Payment Method» Magento 2 backend dropdown":
https://github.com/mage2pro/alphacommercehub/issues/67
https://github.com/mage2pro/stripe/blob/2.5.2/etc/config.xml#L52-L120
-->
				<active>1</active>
<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\AlphaCommerceHub\Method</model>
            </dfe_alpha_commerce_hub>
        </payment>
    </default>
</config>