<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<alpha_commerce_hub>
				<currency>base</currency>
<!-- 2017-10-27
[AlphaCommerceHub] Are any limitations on the «MerchantTxnID» parameter allowed characters or length?
https://mage2.pro/t/4779
«Supported special characters are / and .»
-->
				<identification>increment_id</identification>
				<requireBillingAddress>0</requireBillingAddress>
				<title>AlphaCommerceHub</title>
				<title_backend>AlphaCommerceHub</title_backend>
			</alpha_commerce_hub>
		</df_payment>
        <payment>
            <dfe_alpha_commerce_hub>
<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\AlphaCommerceHub\Method</model>
            </dfe_alpha_commerce_hub>
        </payment>
    </default>
</config>